h1 {
  text-align: center;
  font-size: 75px;
}

.tweet-box {
	text-align: center;
}

.tweet-box h1 {
	font-size: 20px;
	color: black
}

.tweet-box p {
	border: 2px solid black;
	
}

.buttons {
	text-align: center;
	font-size: 16px;
	color: black;
	background-color: white;
	display: inline-block;
	border-radius: 8px;
	border: 2px solid #008CBA; /*BLUE*/
	-webkit-transition-duration: 0.4s;
	
	/* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons:hover{
	background-color: #008CBA; /*BLUE*/
	color: white;
}

.button-pressed {
	text-align: left;
	font-size: 20px;
	color: black;
}