h1 {
  text-align: center;
  font-size: 75px;
}


.tweet-box {
	text-align: center;
}

.tweet-box h1 {
	font-size: 20px;
	color: black
}

.tweet-box p {
	border: 2px solid black;
	border-radius: 8px;
	background: #FFFFFF;
	color: black;
	
	width: 75%;
	height: 10%;
	padding: 8px;
	margin:auto;
}

.tweet-box img {
	max-width: 75%;
	max-height: 75%;
}

.buttons {
	text-align: center;
}
.button {
	text-align: center;
	font-size: 16px;
	color: black;
	background-color: white;
	display: inline-block;
	border-radius: 8px;
	border: none;
	margin-top: 10px;
	-webkit-transition-duration: 0.4s;
	
	/* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button3:hover {
    background-color: #008CBA;
    color: white;
}

.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button4:hover {
    background-color: #008CBA;
    color: white;
}

.button5 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button5:hover {
    background-color: #008CBA;
    color: white;
}



.button-pressed {
	text-align: left;
	font-size: 20px;
	color: black;
}