h1 {
  text-align: center;
  font-size: 75px;
}

.tweet-box {
	text-align: center;
}

.tweet-box h1 {
	font-size: 20px;
}

.tweet-box p {
	border: 2px solid black;
	
}

.buttons {
	text-align: center;
	font-size: 10px;
}

.button-pressed {
	text-align: left;
	font-size: 20px;
}